# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
Hardware_Devices/GPS/iTunesArtwork
Hardware_Devices/Icons/Archive/Accelerometer.png
Hardware_Devices/Icons/Archive/Credits.png
Hardware_Devices/Icons/Archive/GPS.png
Hardware_Devices/Icons/Archive/Proximity.png
